// Specific CSS for your home-page
/* Hero Banner Container */

.header {
  height: 700px;
  margin-bottom: 50px;
  justify-content: center;
  background-image: url("https://i.ibb.co/cXX8yH1/api-mapbox-com-styles-v1-mapbox-light-v10-html-title-true-access-token-pk-ey-J1-Ijoib-WFw-Ym94-Iiwi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.page-header span {
  color: red;
}

/* Destination images styling */

.card-large-destination {
  width: 100%;
  background-color: #EBEBEB;
  padding: 50px 0px;
}


.row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.column {
  padding: 15px;
}

.img-fluid {
  border-radius: 4px;
  margin-bottom: 8px;
}

// Footer

.footer {
  color: white;
}
