.carousel-item img {
  height: 450px;
  // background-size : contain;
  background-size: cover;
  background-position: center;
}

.carousel-inner {
  margin-top: 100px;
}

.name {
  width:100%;
}

h3 {
  text-align: center;
  border-bottom: 1px solid black;
}

.avail {
  color: green;
}

.unavail {
  color: red;
}

.inner {
  width: 100%
}

.container {
  font-family: 'Open Sans Condensed', sans-serif;
}

h3{
  font-family: 'Open Sans Condensed', sans-serif;
}

h5 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.details {
  position: fixed;
  left:30px;
  top:50%;
  padding:60px;
  border-radius: 4px;
  background-color: #16262C;
  color:#b7c1c9;
    h5 {
      padding: 8px;
    }
}

.content {
  margin-left: 10%;
}

.reviews {
  margin-left: 10%;
}
