<div class="container mt-5 py-2">
  <div class="row mx-auto my-3 justify-content-center">
    <div class="col-6 mt-5">
      <h2>Add Your New Booking</h2>
      <%= render "new_booking_form", booking: @booking %>
    </div>
  </div>
</div>