<!-- Footer -->

<div class="container-fluid footer bg-dark py-5">
  <ul style="list-style: none">
    <li style="margin-bottom: 5px">Copyright 2021 Spin Finder</li>
    <li>Made with ♥️ by Chris, Thomas, San, and Julian</li>
  </ul>
</div>
