.container-main {
  display: flex;
  justify-content: space-between;
}

.container-map {
  width: 100%;
  height: 100vh;
}

.container-bikes {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
    h5 {
      font-family: 'Montserrat', 'Open Sans';
    }
    img {
      width: 100%;
    }
}

