<div id="destination-map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div id='destinations'>
    <section id='beach-road' class='active section-destination-page'>
        <h3>Beach Road</h3>
        <p>Ah Beach Road – Melbourne cycling Mecca.
        Every Saturday and Sunday morning there are sure to be thousands of cyclists on the weekly pilgrimage to one of many destinations along the beach road in Melbourne’s southern suburbs along the bay. Beach Road offers cyclists of all levels of ability the chance to get out in the sunshine and enjoy views of our lovely Port Phillip Bay. For beginners, there is a bike path, whilst more confident riders can share the road with the other groups of cyclists. Be wary however, sometimes it can get rather crowded. Beach Road is so popular with cyclists many have taken to social media with the hashtag #notbeachroad to inform people when they’re riding a different route for a change!</p>
      <img src="https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_1920/https://www.greatoceanroadaustralia.org/wp-content/uploads/2020/01/coen-van-den-broek-OFyh9TpMyM8-unsplash-1920x1080.jpg" class="image-destination-page">
    </section>
    <section id='yarra-blvd' class="section-destination-page">
        <h3>Yarra Boulevard</h3>
        <p>If you’re looking for a more serious work out, more hilly terrain or thigh testing riding, then Yarra Boulevard in Kew is the place to head.  A favourite for road riders, with little traffic and a dedicated bike lane throughout, the 13km loop gives you a 220m climb for each lap.  Choose from a single lap or multiple laps to achieve your workout goals, or test yourself further with many side-street options including Yarra Street which is a short but taxing 17% gradient in parts (that’s steep!!).</p>
      <img src="http://www.parks.vic.gov.au/-/media/project/pv/main/parks/images/places-to-see/yarra-bend-park/kanes-bridge-yarra-bend-park-1920x1124.jpg" class="image-destination-page">
    </section>
    <section id='dandenongs' class="section-destination-page">
        <h3>Dandenong Ranges</h3>
        <p>The Dandenong Ranges are one of Melbourne’s most popular cycling playgrounds.  It’s an escape from the hustle and bustle of crazy city life and will take you into a world of hidden delights.  It’s so easy to fall in love with the Dandenong Ranges and has some of the greatest climbing that metropolitan Melbourne has to offer.</p>
      <img src="https://cyclingtips.com/wp-content/uploads/2020/12/smallMelbs_VV_a11i8409.jpg" class="image-destination-page">
    </section>
    <section id='lysterfield' class="section-destination-page">
        <h3>Lysterfield Park</h3>
        <p>Lysterfield Park is one of the best places to mountain bike close to Melbourne. Undulating trails flow up and down steep hills and through dense plantations. Outcroppings of large boulders add to the scenic attraction - and to the challenge of the trails.

        The State Mountain Bike Course, used for the 2006 Commonwealth Games, offers tight single tracks, technical rocky sections, high speed descents with inclined berms, timber boardwalks and steep hill climbs. Aneurysm is a favourite that combines jumps, drops and man-made obstacles. Both are for experienced riders.
        </p>
      <img src="http://www.parks.vic.gov.au/-/media/project/pv/main/parks/images/things-to-do/mountain-biking/mtb-kinglake-national-park-1920x1124.jpg" class="image-destination-page">
    </section>
</div>
