<div class="container">
    <div class="row mx-auto justify-content-around py-5">
        <% @bikes.each do |bike| %>
        <div class="col-lg-4 col-md-6 col-sm-12 py-1">
            <div class="card" style="width: 100%;">
                <%= cl_image_tag(bike.images[0].key, :height=>250, :width=>350, :fetch_format=>:auto, :crop=>"fill", :class=>"card-i.namg-top img-fluid mx-auto rounded", :alt=>"#{bike.name}")%>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= bike.name %>
                    </h5>
                    <p class="card-text">
                        <i class="fas fa-dollar-sign"></i>
                        <%= bike.id %>
                    </p>
                    <%= link_to "More Info", bike_path(bike) , class: "btn btn-link" %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>