<div class="container">
  <div class="row mx-auto my-3 justify-content-center">
    <div class="col-6 mt-5">
      <h1>Add Your New Bike</h1>
      <%= render "new_bike_form", bike: @bike %>
    </div>
  </div>
</div>
