/* Navbar Styling */

.navbar-custom {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar {
  margin-bottom: 50px;
}

/* Bike Category Card Styling */

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  visibility: hidden;
  opacity: 0;
}

.img-fluid:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.card-bike-category {
  .img-fluid:hover {
    background: black;
    opacity: 0;
    transition: .5s ease;
  }
}
